<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @visit.day %>
</p>

<p>
  <strong>Start:</strong>
  <%= @visit.start %>
</p>

<p>
  <strong>Finish:</strong>
  <%= @visit.finish %>
</p>

<p>
  <strong>Description:</strong>
  <%= @visit.description %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
