<p>Oi Jô e Henrique</p>

<p>Segue relatório da visita de <%= I18n.t(:"date.day_names")[visit.day.wday] %> <%= l @visit.day %></p>

<table>
	<tr>
		<td><strong>Entrada:</strong></td> <td><%= l @visit.start, format: :time %></td>
	</tr>
	<tr>
		<td><strong>Saída:</strong></td> <td><%= l @visit.finish, format: :time %></td>
	</tr>
	<tr>
		<td><strong>Total do dia:</strong></td> <td><%= (@visit.finish - @visit.start) / 3600 %></td>
	</tr>
	<tr>
		<td><strong>Total do mês:</strong></td> <td><%= Visit.month_status @visit.day.to_formatted_s :db %></td>
	</tr>
</table>

<br />

<%= markdown @visit.description %>

<p>Att<br />
Gianpaulo<p>