Oi Jô e Henrique

<p>Segue relatório da visita de <%= Date::DAYNAMES[@visit.day.wday] %> <%= @visit.day %></p>

<table>
	<tr>
		<td><strong>Entrada:</strong></td> <td><%= @visit.start.to_formatted_s :time %></td>
	</tr>
	<tr>
		<td><strong>Saída:</strong></td> <td><%= @visit.finish.to_formatted_s :time %></td>
	</tr>
	<tr>
		<td><strong>Total do dia:</strong></td> <td><%= (@visit.finish - @visit.start) / 3600 %></td>
	</tr>
	<tr>
		<td><strong>Total do mês:</strong></td> <td><%= Visit.month_status @visit.day.to_formatted_s :db %></td>
	</tr>
</table>

<br />

<%= markdown @visit.description %>

<p>Att<br />
Gianpaulo<p>