<%= form_for @trial_balance, :html => { :class => "form-horizontal trial_balance" } do |f| %>

    <% if @trial_balance.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@trial_balance.errors.count, "error") %> prohibited this trial_balance from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @trial_balance.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :year, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :year, :class => 'form-control' %>
    </div>
    <%= error_span(@trial_balance[:year]) %>
  </div>
  <div class="control-group">
    <%= f.label :month, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :month, :class => 'form-control' %>
    </div>
    <%= error_span(@trial_balance[:month]) %>
  </div>
  <div class="control-group">
    <%= f.label :worked_hours, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :worked_hours, :class => 'form-control' %>
    </div>
    <%= error_span(@trial_balance[:worked_hours]) %>
  </div>
  <div class="control-group">
    <%= f.label :hour_price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :hour_price, :class => 'form-control' %>
    </div>
    <%= error_span(@trial_balance[:hour_price]) %>
  </div>
  <div class="control-group">
    <%= f.label :total, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total, :class => 'form-control' %>
    </div>
    <%= error_span(@trial_balance[:total]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            trial_balances_path, :class => 'btn btn-default' %>

<% end %>
