<%- model_class = TrialBalance -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:year) %>:</strong></dt>
  <dd><%= @trial_balance.year %></dd>
  <dt><strong><%= model_class.human_attribute_name(:month) %>:</strong></dt>
  <dd><%= @trial_balance.month %></dd>
  <dt><strong><%= model_class.human_attribute_name(:worked_hours) %>:</strong></dt>
  <dd><%= @trial_balance.worked_hours %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hour_price) %>:</strong></dt>
  <dd><%= @trial_balance.hour_price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:total) %>:</strong></dt>
  <dd><%= @trial_balance.total %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              trial_balances_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_trial_balance_path(@trial_balance), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              trial_balance_path(@trial_balance),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
